body {
    font-family: Arial, sans-serif;
    background-color: #F2F4F8;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 1050px;
    margin: 0 auto;
}

h1 {
    margin: 20px 0 10px 0;
    color: navy;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
}

main {
    display: block;
    padding: 1.5em;
    background: white;
    border: 2px solid navy;
    margin-bottom: 25px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 12px;
    border: 1px solid #CCCCCC;
    text-align: center;
    vertical-align: middle;
}

th {
    font-weight: bold;
}

img {
    width: 60px;
    height: auto;
}

label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}

#data input, #data select {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}

#buttons input {
    float: left;
    margin-bottom: .5em;
}

br {
    clear: left;
}

footer p {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 30px 0;
}
